body {
  text-align: center;
  
}
#title {
  font-family: DauphinPlain;
  font-style: italic;
  font-weight: 400;
  /* font-size: 70px; */
  line-height: 90px;
}
#subtitle {
    margin: 10px 10px 5px 10px;
    /* font-size: 14px; */
    line-height: 18px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
#subtitle2 {
  margin: 5px 10px 20px 10px;
  /* font-size: 12px; */
  line-height: 14px;
  text-align: center;
  font-weight: 400;
}
.text {
  text-align: justify;
  margin: 0 0 15px 0;
}
p {
  text-align: center;
  margin: 0 0 15px 0;
}
